@model PagedList.PagedList<WebQLCTTHTH.Models.NhaTaiTro>
@using PagedList.Mvc;
@using WebQLCTTHTH.Models;
@{
    ViewBag.Title = "NTT";
    Layout = "~/Views/Shared/_LayoutBVD.cshtml";
}

<h2>NTT</h2>

<p>
    @Html.ActionLink("Create New", "NTTCreate")
</p>
<table class="table">
    <tr>
        <th>
            Tên nhà tài trợ
        </th>
        <th>
            Địa chỉ nhà tài trợ
        </th>
        <th>
            Email nhà tài trợ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailNTT)
            </td>
            <td>
                @Html.ActionLink("Edit", "NTTEdit", new { id = item.MaNTT }) |
                @Html.ActionLink("Details", "NTTDetails", new { id = item.MaNTT }) |
                @Html.ActionLink("Delete", "NTTDelete", new { id = item.MaNTT })
            </td>
        </tr>
    }

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("NTT", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
