@model IEnumerable<WebQLCTTHTH.Models.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBGK.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenCD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenCD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCD })
        </td>
    </tr>
}

</table>
