@model WebQLCTTHTH.Models.ThiSinh

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutTS.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThiSinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamSinhTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSinhTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuanTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuanTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NopPhi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NopPhi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
