@model WebQLCTTHTH.Models.ThiSinh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThiSinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamSinhTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSinhTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuanTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuanTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NopPhi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NopPhi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
